.NavbarItems{
    
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;  
}
.navbar-logo {
    justify-self: start;
    cursor: pointer;
    align-items: center; 
    padding-top: 20px;
    padding-left: 20px;
}
.logo-image { 
    width: 140px;
}

hr{
    outline: none; 
    width: 140px;   
}

.menu-list{
    display: flex;
    justify-self: flex-end;
    text-align: center;  
}

.list{
    padding: 1rem;
    list-style: none;
    text-decoration:none; 
}

#item{
    text-decoration:none; 
    color: white;  
}